.seat-picker .canvas .segment {
  border: thin solid gray;
  padding: 7px;
  margin-bottom: 14px; }
.seat-picker .canvas .segment > .head {
  font-family: PetitaLight, Arial, sans-serif;
  font-size: 12px;
  line-height: 1;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 7px; }
.seat-picker .canvas .column-headers {
  padding-left: 38px;
  padding-bottom: 7px;
  border-bottom: thin solid gray;
  margin-bottom: 14px; }
.seat-picker .canvas .column-header {
  width: 36px;
  text-align: center; }
.seat-picker .canvas .column-header.hidden {
  visibility: hidden; }
.seat-picker .canvas .row {
  margin-bottom: 0px; }
.seat-picker .canvas .cell, .seat-picker .canvas .column-header, .seat-picker .canvas .row-header, .seat-picker .canvas .row-body {
  text-align: center;
  display: inline-block; }
.seat-picker .canvas .object {
  width: 36px;
  height: 36px; }
.seat-picker .canvas .object img {
  position: relative;
  width: 100%;
  height: 100%; }
.seat-picker .canvas .object.seat {
  cursor: pointer; }
.seat-picker .canvas .row-header {
  width: 36px;
  height: 36px;
  line-height: 36px;
  vertical-align: top; }
.seat-picker .canvas .couch-right-facing-left, .seat-picker .canvas .couch-left-facing-right {
  margin-left: 3px; }
.seat-picker .canvas .couch-right-facing-left, .seat-picker .canvas .couch-middle-facing-left {
  margin-right: -3px; }
.seat-picker .canvas .couch-left-facing-right, .seat-picker .canvas .couch-middle-facing-right {
  margin-right: -3px; }
.seat-picker .canvas .shower-facing-left, .seat-picker .canvas .shower-facing-right, .seat-picker .canvas .toilet-washroom-facing-left, .seat-picker .canvas .toilet-washroom-facing-right {
  width: 52px; }
.seat-picker .canvas .object.space {
  visibility: hidden; }
