// @import "compass/reset";

.leftColumn {
  .or_split {
    padding: .2rem;
  }

  #localLoginLinkContainer {
    margin-top: 1rem;
  }

  #loginForm {
    input {
      padding: .2rem;
      margin-bottom: 0.2rem;
    }
    #forgotPasswordRow {
      p {
        input {
          font-size: 80%;
        }
      }
    }
  }
}

.rightColumn {
  #signupForm {
    margin-top: 1rem;
    #signupUserForm {
      padding: 0;
      input {
        padding: .2rem;
      }
    }
  }
}